<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.weichao.library">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name="io.weichao.activity.PermissionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/PermissionTheme.NoActionBar" />
        <activity
            android:name="io.weichao.activity.SplashActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.activity.ARVideoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>

    <!--Suggestion: add 'tools:replace="android:theme"' to element--><!--<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.weichao.summary1704">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name="io.weichao.summary1704.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.weichao.summary1704.activity.MainActivity" />
    </application>

    </manifest>-->
